html {
	--color-accent: oklch(65% 50% 0);
	color-scheme: light dark;
}

body {
    /* Set line height to 1.5 times the font size
       and use the OS’s UI font as the website font
     */
    font: 100%/1.5 system-ui;
	max-width: 100ch;
	margin-inline: auto;
	padding: 5%;
}

label, input, textarea {
	/* Make these elements behave like block elements,
	   i.e. occupy the whole available width and create line breaks before and after
	 */
	display: block;
}

label {
	/* Add some space before each label that grows as the font size grows */
	margin-top: 1em;
}

.color-scheme {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-family: inherit;
	font-size: 80%;
}

input, textarea {
	/* Because form fields are special,
	   they also need `width: 100%`
	   to actually fill the whole available width.
	 */
	width: 100%;

	/* Special sizing mode that makes the element’s width
	   include internal spacing (padding) and borders
	 */
	box-sizing: border-box;

	/* Use the same font and font metrics as the rest of the page */
	font: inherit;
}

img {
	max-width: 100%;
}

h1 {
	font: 300% system-ui;
}
h1, h2, h3, h4 {
	line-height: 1.1;
	text-wrap: balance;
}

.projects {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
	align-items: center;
}

.stats {
	display: grid;
	/* grid-template-columns: repeat(7, 1fr); */
	grid-template-rows: repeat(2, 1fr);
	grid-auto-flow: column;
	gap: 10px;
	.dt {
		grid-row: 1;
	}
	.dd {
		grid-row: 2;
	}

}